body {
    margin:0px;
    padding: 0px 100px;
    font-family:'Poppins', sans-serif;
}

section {
    height: 80vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo-image img {
    max-height: 40px;
}

nav {
    flex-grow: 1;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    margin: 0px 10px;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: block;
    text-align: center;
    padding:10px;
}

.nav-buttons button {
    padding: 6px 12px;
    border: 1px solid black;
    margin: 0px 10px;
    background-color: white;
}

.fa-cart-shopping {
    margin: 0px 10px;
    max-height: 40px;
}

.search-bar-container {
    display: flex;
    margin: 0px;
    justify-content: center;
}

.logo-text img{
    height: 25px;
    margin: 0px 20px;
}


.search-bar button {
    padding: 6px 12px;
    border: 1px solid black;
    background-color: white;
    
}

.search-bar input {
    flex-grow: 1;
    padding: 6px 12px;
    border: 1px solid black;
    background-color: white;
    width: 360px;
    outline: none;

}

/* Swiper */

.swiper {
    width: 100%;
    height: 100%;
  }

.swiper-wrapper {
    margin: 30px 0px;
}

.swiper-slide {
    text-align: center;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;  
}

/* observer-animation */

.hidden {
    opacity: 0;
    transition: all 1s;
}

.show {
    opacity: 1;
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

/* Popular catagory 

.popular-slider {
    width: 100%;
    position: relative;
}

.popular-slider ul {
    list-style: none; 
    margin: 0; 
    padding: 0;
}

.popular-slider li { 
    position: absolute; 
    top: 0; 
    left: 0; 
    opacity: 0; 
    transition: opacity 1s ease-in-out; 
}

.popular-slider img { 
    height: 400px; 
    width: 400px; 
} 

.popular-slider li.active { 
    opacity: 1; 
} 

.popular-slider .caption { 
    position: absolute; 
    bottom: 0; 
    left: 0; 
    width: 100%; 
    background-color: rgba(0, 0, 0, 0.5); 
    color: #fff; 
    font-size: 18px; 
    padding: 10px; 
    text-align: center; 
    text-align: center;
}

*/

.popular-slider img { 
    height: 200px; 
    width: 200px; 
    padding: 30px 20px 20px 20px;
} 

.popular-destination-element{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 60px 0px;
}

.popular-catagories-name {
    padding: 5px 20px;
}