.hidden {
    opacity: 0;
    transition: all 1s;
}

p {
    font-weight : 300;
}

.show {
    opacity: 1;
}

.signin-button {
    color : black;
}

.signup-button {
 color : white
}

.signup-button a {
    text-decoration : none;
    color : white
}

.first-section, .third-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height : 100vh;
}

.first-section-title, .third-section-title {
    font-size: 2.5rem;
    font-weight: 700;
}

.second-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    column-gap: 10px;
    margin-bottom:50px ;
    
}
.card {
    display: flex;
    flex-direction: column;
    flex: 200px; 
    margin: 0 5px; 
    padding: 50px 50px 30px 50px;
    background-color: #f7f7f7;
    height: 600px;
}

.second-section-left, .second-section-right {
    width: 45%;
}

.card-image {
    object-fit: cover;
}

.second-section-img {
    height: 100%;
    width: 100%;
}

.card-details {
    padding: 20px 0px;
}

.card-details span {
    font-weight: 400;
}

.card-details div {
    font-weight: 500;
}

.card-details p {
    font-weight: 300;
}

.card-details-title {
    font-size: 1.2rem;
    padding-bottom: 10px;
    font-weight: 500;
}


@media (max-width: 768px) {
    .second-section {
        display : flex;
        flex-direction : column;
        width : 100%;
    }

    .second-section-left, .second-section-right {
        width: 70%;
    }
 }