body {
    padding: 0px 100px;
}

.cart-quantity{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-container {
    display: flex;
    width: 100%;
    padding-top: 25px; 
}

.cart-items {
    width:calc(60% - 20px); 
    margin-right: 50px;
}

.product-container {
    display: flex;
    flex-direction: column;
}

.product-items {
    display: grid;
    position: relative;
    width:calc(100%);
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    border: 1px solid black;
    padding:20px 0px;
    align-items: start;
    margin-bottom: 30px;
}

.fa-xmark {
    position: absolute; 
    top: 0; 
    right: 0;
    margin: 10px;
}

.product-image {
    grid-column: 1;
    height: 150px;
    width: 150px;
    padding-left: 10px;

}

.product-name {
    grid-column: 2;
}

.product-name  h3 {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-line-clamp: 3;
    -moz-line-clamp: 3; 
    margin-top: 0;

}

.product-quantity-span {

}

.quantity-input {
    width: 30px;
    height: 10px;
    display: none;
}

.save-quantity-link {
    display: none;
}

.is-editing-quantity .quantity-input {
    display: initial;
}

.is-editing-quantity .save-quantity-link {
    display: initial;
}

.is-editing-quantity .quantity-label {
    display: none;
}
  
.is-editing-quantity .update-quantity-link {
    display: none;
}

.delivery-option-name {
    margin:0;
    margin-bottom: 10px;
}

.delivery-option {
    grid-column: 3 / span 2;
    display: flex;
    flex-direction: column;
   
}

.delivery-option form input[type="radio"],
.delivery-option form label {
    display: inline-flex; 
    margin: 5px 5px 5px 0px;
    align-items: center;
}

.delivery-date {
    font-size: 0.9rem;
    margin: 0px;
    opacity: 90%;
}

.quantity-input {
    border: 1px solid black;
    padding: 5px;
    outline: none;
    width: 25px;
}

.product-price {
    grid-column: 4;
    justify-self: center;
    align-self: center;
}

.product-quantity span{
    font-size: 1rem;
}

.line {
    border: none;
    border-top: 1px solid black; /* Adjust the color and thickness as needed */
    margin: 20px 0; /* Add margin above and below the line */
    width: calc(50% - 10px);
}

.payment-summary {
    position: sticky;
    top: 0;
    height: calc(100vh - 40px); /* Adjust height as needed */
    overflow-y: auto;
    flex: 1;
}

.order-summary-container {
    border: 1px solid black;
    padding: 5px 25px 25px 25px;
}

.payment-summary-row {
    display: grid;
    grid-template-columns: 1fr auto;
}

.css-payment-summary-money {
    padding-bottom: 20px;
}

.payment-summary-row div {
    padding: 5px 0px;
}

.order-now {
    padding-top: 10px;
    border-top: 1px solid black;
    padding-bottom: 20px;
}

.payment-summary-button, .empty-cart {
    padding: 10px 24px;
    border: 1px solid black;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
}

.empty-cart {
    margin-bottom: 30px;
    align-self: flex-end;
}

.order-now-title {
    margin-bottom: 0px;
    padding-bottom: 10px;
}

.order-now {
    font-weight: 700;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    body {
        padding: 0px; 
    }

    .cart-container {
        display: flex;
        width: 100%;
        padding-top: 50px; 
        flex-direction: column;
    }

    .cart-items {
        width: 100%;
        margin-right: 0;
    }

    .cart-container {
        padding: 10px 0; 
    }

    .product-name, .delivery-option {
        padding: 0px 30px;
        text-align: left;
    }

    .delivery-option, .product-price{
        font-size: 0.9rem;
    }

    .quantity-container-span {
        font-size: 10px;
    }

    .delivery-option-name {
        margin-top: 10px;
    }

    .product-items {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .product-image {
        grid-column: 1;
        height: 200px;
        width: 200px;
        padding-left: 0px;
    }

    .product-name h3 {
        max-width: 500px;
        font-size: 18.72px;
        margin: 0;
    }

    .quantity-input {
        width: 20px; /* Adjust width */
    }

    .order-summary-container {
        padding: 10px; /* Adjust padding */
    }

    .order-now {
        padding: 5px 0; /* Adjust padding */
    }
}