body {
    padding: 0px;
    margin: 0px;
}
section {
    height: 50vh;
    font-size: 1.1rem;
    padding: 100px 100px;
    box-sizing: border-box;  
}

.cu-title {
    font-size: 3.0rem;
    font-weight: 700;
}
