body {
    font-family:'Poppins', sans-serif;
}

section {
    padding: 0px 100px;
}

/* Swiper */

.swiper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.swiper-wrapper {
    margin: 20px 0px 0px 0px;
}

.swiper-slide {
    text-align: center;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 250px;
    object-fit: cover;  
}

/* observer-animation */

.hidden {
    opacity: 0;
    transition: all 1s;
}

.show {
    opacity: 1;
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

/* Popular catagory */

.popular-slider ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-between;
    gap: 40px;
    margin: 0px;
    padding: 0px;
    text-align: left;
}

.popular-slider ul li {
    margin: 0px;
    display: flex;
    flex-direction: column;
}

.popular-slider ul li a{
    display: initial;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}

.popular-destination-element {
    box-sizing: border-box;
    background-color: rgba(189, 188, 188, 0.097);
    padding-bottom: 20px;
}

.popular-destination-element img {
    width: 200px; 
    height: 200px;
    padding: 15px;
}

.popular-catagories-name {
    text-align: left;
    margin-top: 20px;
    margin-left: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    height: 2.9em;
    text-wrap: wrap;
    text-align: left;
    font-weight: 700;
    margin-right: 15px;

}

.show-more-button {
    padding: 4px 12px;
    border: 2px solid black;
    margin: 10px 15px;
    background-color: white;
}
/* dailydeal-slider */

.p-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding-bottom: 20px;
}

.p-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.p-image img{
    height: 200px;
    width: 200px;
    padding: 20px;
}

.p-text {
    padding: 0px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.p-name {
    font-size: 0.9rem;
    margin: 0px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    height: 2.9em;
    text-wrap: wrap;
}

.p-price {
    font-size: 0.8rem;
    margin-top: 5px; /* Adjust the value as needed */
}

.p-quantity {
    margin: 5px 5px 20px 20px;
    border: solid black 1px;
    padding: 4px 0px;
}

select option{
    border-color: blueviolet;
}

.addtoCart-button {
    padding: 4px 12px;
    border: 1px solid black;
    margin: 0px 6px;
    background-color: white;
}
 tbody td ul {
    padding: 0px;
}